*, :after, :before {
  box-sizing: border-box;
}

html {
  --section-background-color: linear-gradient(to bottom left, rgba(17, 16, 16, 0.582), rgba(12, 8, 24, 0.904));
    --image-gradient: linear-gradient(to bottom left, rgba(17, 16, 16, 0.678), rgba(12, 10, 22, 0.863));
    --imp-text-color: #c770f0;
}

.purple {
  color: var(--imp-text-color) !important;
}

button:focus {
  box-shadow: none !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --------- */
/*  Preloader */
/* --------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: #0c0513;
  background-image: url(./assets/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

/* NAVBAR CSS */

.bg-body-tertiary {
  position: fixed;
  z-index: 999;
  width: 100%;
}

.my-auto {
  margin-left: auto !important;
}

.navbar-add {
  margin-left: 20px;
}

/* HOME CSS */
.home-page {
  padding: 0 100px 0;
}

.home-page .block-hi-there {
  height: 500px;
  display: flex;
}

.home-page .block-hi-there .block-hi-left {
  width: 50%;
  float: left;
  margin: auto;
}
.home-page .block-hi-there .block-hi-right {
  width: 50%;
  float: right;
  margin: auto;
}

.block-body {
  height: 540px;
  display: flex;
}

.block-body .block-body-left h1 {
  padding: 50px 0 20px;
}

.block-body .block-body-left p {
  text-align: left;
  margin-right: 20px;
}

.div-body-left {
  width: 60%;
  float: left;
  margin: auto; 
}

.div-body-right {
  width: 40%;
  float: right;
  margin: auto;
}

.div-body-right img {
  height: 100%;
  width: 100%;
}

.block-connect {
  padding-top: 20px;
}

.block-application {
  margin-right: 36px;
  font-size: 20px;
  padding-bottom: 50px;
}

.application-icons {
  list-style: none;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}


/* END HOME CSS */


/* ABOUT CSS */
.about-page {
  padding: 50px 0 50px 0;
}

.about-two-column {
  padding: 10px;
}

.about-page .about-two-column {
  height: 500px;
}

.about-page .about-two-column .about-column-left {
  width: 60%;
  float: left;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.about-page .about-two-column .about-column-right {
  width: 40%;
  float: right;
}

.about-page .about-two-column .about-column-left p {
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  text-align: left;
}

.about-page .about-two-column .about-column-left ul {
  padding-top: 10px;
}

.about-page .about-two-column .about-column-left ul li {
  list-style: none;
  text-align: left;
}

.about-page .about-heading {
  padding: 50px 0px 5px;
}

.about-heading-add {
  padding: 10px 0px 30px;
}


.about-page .about-full .col-md-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.about-page .about-full {
  justify-content: center;
  padding: 0px 50px 50px;
  display: flex;
  flex-wrap: wrap;
}

.about-page .about-full .about-tech-icons {
  border: 1.7px solid rgba(200, 137, 230, .637) !important;
  border-radius: 5px !important;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, .137) !important;
  display: table !important;
  font-size: 4.5em !important;
  margin: 15px !important;
  opacity: .93 !important;
  overflow: hidden !important;
  padding: 10px !important;
  text-align: center !important;
  transition: all .4s ease 0s !important;
  vertical-align: middle !important;
}

.about-keyboard {
  display: inline-block;  
}

/* END ABOUT CSS */

/* CSS Projects */
.projects-page {
  padding: 0px 100px 30px;
}

.projects-page .project-full {
  padding-top: 100px;
  padding-bottom: 30px;
}

.project-three-columns {
  display: flex;
  flex-wrap: wrap;
}

.project-three {
  float: left;
  width: 33.33333%;
  background-color: transparent !important;
}

.project-columns {
  display: flex;
  flex-direction: column;
  padding: 50px 25px !important;
}

.project-img-columns {
  width: 100%;
  display: block;
}

.project-content-columns {
  word-wrap: break-word;
  background-clip: border-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
}

.project-content-columns:hover {
  box-shadow: 0 4px 4px 5px rgba(129, 72, 144, .561) !important;
  overflow: hidden !important;
  transform: scale(1.02) !important;
}


.project-add {
  background-color: transparent !important;
  box-shadow: 0 4px 5px 3px rgba(119, 53, 136, .459) !important;
  height: 100% !important;
  opacity: .9 !important;
  transition: all .5s ease 0s !important;
}

.project-desc-columns {
  text-align: justify;
  padding: 1rem;
}

/* END Projects */

/* ADD RESUME */
.resume-download {
  padding: 50px 0 50px;
}

.resume-btn {
  background-color: #623686 !important;
  border-color: #623686 !important;
  color: #fff !important;
}

.resume-btn:hover {
  background-color: #6d20c5d7 !important;
  border-color: #6d20c5d7 !important;
  color: #fff !important;
}

.resume-body-cv {
  padding-top: 20px;
  padding-bottom: 20px;
}

.resume-cv img {
  width: 1011px;
  height: 1431px;
}

/* END RESUME */

/* ADD FOOTER */
.footer-page {
  background-color: #0c0513;
}

.footer-all {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}

.footer-page .footer-all .footer-copywright h3 {
  font-size: 1em;
  margin-bottom: .5em !important;
  margin-top: .5em !important;
}

.footer-md-4 {
  width: 33.3333333%;
}

.social-icons {
  display: inline-block !important;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 24px;
}

/* END FOOTER */